.sofraco-container-connexion {
    /* padding-top: 10%;
    padding-bottom: 40%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #9d8b80;
    overflow: auto;
}

.sofraco-connexion {
    margin: auto;
    width: 300px;
    min-width: 250px;
}

.sofraco-icon-pass {
    width: 20px;
    cursor: pointer;
    color: #9d8b80 !important;
}

.sofraco-button-icon-pass {
    border-left: none !important;
    height: 35px;
}

#sofraco-password-pass, #sofraco-password-txt {
    border-right: none !important;
}

.sofraco-connexion-header {
    border: none;
    text-align: center;
    padding-top: 50px;
}

.sofraco-connexion-form {
    padding-left: 20px;
    padding-right: 20px;
}

.sofraco-logo-connexion {
    margin: auto;
}

.sofraco-connexion-body {
    padding-bottom: 50px;
}

.sofraco-input:focus {
    border-color: #ed7102 !important;
}

#sofraco-submit {
    margin: auto;
}

.sofraco-button {
    color: #fff;
    background-color: #ed7102;
    width: 150px;
}

.sofraco-button:not(:hover) {
    color: #fff;
    background-color: #ed7102;
}

.sofraco-button:hover {
    color: #fff;
    background-color: #F39200;
}