.sofraco-root {
  min-height: 100%;
  margin-top: 55px;
}

.sofraco-container {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  height: 100%;
  min-height: 100% !important;
}

