.sofraco-root {
  min-height: 100%;
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: 'Roboto Condensed', sans-serif;
}

.sofraco-container {
  margin: 0 !important;
  padding: 10px 0 0 0 !important;
  background-color: #fff;
  min-height: 100% !important;
  height: 100%;
}

