.sofraco-header {
    background-color: #F39200;
    color: #fff;
}

.sofraco-list-companies {
    background-color: #fff;
    color: #000;
    border-radius: 0 !important;
}

.sofraco-companies-container{
    /* margin: auto; */
}

.sofraco-company-container {
    width: 50%;
    border-radius: 0 !important;
}

.sofraco-pagination, .sofraco-pagination ul, .sofraco-pagination li, .sofraco-pagination a {
    color: #ed7102 !important;
}

.sofraco-pagination .page-item.active a {
    color: #fff !important;
    background-color: #ed7102 !important;
    border-color: #ed7102 !important;
}

.sofraco-modal .modal-content {
    min-height: 525px;
    max-height: 600px;
}

.sofraco-modal .modal-dialog.modal-dialog-centered {
    max-width: 800px;
}

.sofraco-card-body {
    min-height: 140px;
    max-height: 180px;
    text-align: center;
}

.sofraco-container-image {
    min-height: 100px;
    max-height: 100px;
}

.sofraco-logo-company {
    margin: auto;
}

.sofraco-container-button-traitement {
    text-align: center;
}
