.sofraco-header {
    background-color: #F39200;
    color: #fff;
}

.sofraco-list-companies {
    background-color: #fff;
    color: #000;
    border-radius: 0 !important;
}

.sofraco-companies-container{
    /* margin: auto; */
}

.sofraco-company-container {
    width: 50%;
    border-radius: 0 !important;
}

.sofraco-pagination, .sofraco-pagination ul, .sofraco-pagination li, .sofraco-pagination a {
    color: #ed7102 !important;
}

.sofraco-pagination .page-item.active a {
    color: #fff !important;
    background-color: #ed7102 !important;
    border-color: #ed7102 !important;
}

.sofraco-modal .modal-content {
    min-height: 525px;
    max-height: 600px;
}

.sofraco-modal .modal-dialog.modal-dialog-centered {
    max-width: 800px;
}

.sofraco-card-body {
    min-height: 140px;
    max-height: 180px;
    text-align: center;
}

.sofraco-container-image {
    min-height: 100px;
    max-height: 100px;
}

.sofraco-logo-company {
    margin: auto;
}

.sofraco-container-button-traitement {
    text-align: center;
}

.sofraco-button {
    color: #fff;
    background-color: #ed7102;
    width: 250px;
}

.sofraco-button:hover {
    color: #fff;
    background-color: #F39200;
}

.sofraco-element-cover {
    top: 52px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sofraco-element-cover-content {
    text-align: center;
}

.sofraco-img-check {
    width: 15px;
}

.sofraco-progress-bar {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 300px;
}

.sofraco-progress-bar .progress-bar {
    background-color: #6F6F6E !important;
}
