.sofraco-icon-edit {
    color: #9d8b80 !important;
}

.sofraco-icon-edit , .sofraco-icon-del{
    width: 20px;
    cursor: pointer;
}

.sofraco-pagination, .sofraco-pagination ul, .sofraco-pagination li, .sofraco-pagination a {
    color: #ed7102 !important;
}

.sofraco-pagination .page-item.active a {
    color: #fff !important;
    background-color: #ed7102 !important;
    border-color: #ed7102 !important;
}