.sofraco-button {
    color: #fff;
    background-color: #ed7102;
    width: 250px;
}

#sofraco-modal-ask {
    width: 500px;
    max-height: 200px !important;
}

.sofraco-modal-body {
    overflow: auto;
}

.sofraco-button:hover {
    color: #fff;
    background-color: #F39200;
}
