.sofraco-navbar {
    background-color: #ed7102;
    font-family: 'Roboto Condensed', sans-serif;
}

.sofraco-navbar .collapse.navbar-collapse ul a {
    color: #fff !important;
}

.sofraco-dropdown-menu {
    text-align: center;
    background-color: #9d8b80;
}

.sofraco-dropdown-item:hover {
    color: inherit;
    background-color: inherit;
}