.sofraco-navbar {
    background-color: #ed7102;
    font-family: 'Roboto Condensed', sans-serif;
}

.sofraco-navbar .collapse.navbar-collapse ul a {
    color: #fff !important;
}

.sofraco-dropdown-menu {
    text-align: center !important;
    background-color: #9d8b80 !important;
}

.sofraco-dropdown-item:hover {
    color: inherit !important;
    background-color: inherit !important;
}

.sofraco-icon-user {
    width: 20px;
    cursor: pointer;
    color: #fff;
}