.sofraco-pagination, .sofraco-pagination ul, .sofraco-pagination li, .sofraco-pagination a {
    color: #ed7102 !important;
}

.sofraco-pagination .page-item.active a {
    color: #fff !important;
    background-color: #ed7102 !important;
    border-color: #ed7102 !important;
}

.sofraco-modal-treatment .modal-dialog .modal-dialog-centered .modal-content{
    max-width: 800 !important;
}

.sofraco-modal-body {
    overflow: auto;
}
