.sofraco-send-mail-button {
    margin: auto;
    text-align: center;
}

.sofraco-send-mail-button button {
    color: #fff;
    background-color: #fd7a22;
}

.sofraco-pagination, .sofraco-pagination ul, .sofraco-pagination li, .sofraco-pagination a {
    color: #fd7a22 !important;
}

.sofraco-pagination .page-item.active a {
    color: #fff !important;
    background-color: #fd7a22 !important;
    border-color: #fd7a22 !important;
}