.sofraco-loader {
    margin: auto;
    text-align: center;
}

input[type=submit] {
    margin: auto;
    color: #fff;
    background-color: #ed7102;
    width: 150px;
}

input[type=submit]:not(:hover) {
    color: #fff;
    background-color: #ed7102;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #F39200;
}