<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8" />
        <title>Commissions</title>
        <style></style>
    </header>
    <body>
        <h1>Commissions du mois</h1>
        <div>
            <p>Bonjour Monsieur/Madame <%=data.firstName%> <%=data.lastName%></p>
        </div>
    </body>
</html>