<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <title>Commissions</title>
    <style></style>
</header>
<body>
    <div>
        <p>Bonjour,</p>
        <p>
            Vous trouverez ci-joint le fichier excel contenant le détail de vos commissions perçues ce mois. Ce fichier,
            ayant vocation à vous permettre d'identifier vos affaires commissionnées, contient uniquement les
            informations des compagnies ne mettant pas de bordereau à votre disposition via leur espace.

            Rappel des règles de commissionnement :
            Le GROUPE SOFRACO vous reverse toutes les commissions reçues des compagnies pour votre compte chaque fin de
            mois (autour du 25).
            Si une compagnie ne figure pas dans ce fichier, c'est qu'elle n'a pasété perçue par Sofraco.
            Nous vous rappelons que la plupart des bordereaux de commissions sont mis à votre disposition et accessibles
            avec vos identifiants personnels directement sur l'espace des compagnies.

            Si vous constatez une anomalie et/ou une absence, nous vous conseillons de prendre contact prioritairement
            avec l'inspecteur de la Compagnie concernée.

            Vous en souhaitant bonne réception.

            Bonne journée.

            Karine FOUCAUD
            Pôle Commissions - GROUPE SOFRACO
        </p>
    </div>
</body>
</html>